<div class="already-logged">
    <h3>Ya iniciaste sesion como {{user}}</h3>
    <p>Redirigiendo a la página de inicio</p>
</div>
<script>
    setTimeout(() => {
        window.location.href = '/'
    }, 5000)
</script>