<div class="action-failed">
    <h3>No se pudo iniciar sesión {{user}}</h3>
    <p>{{message}}</p>
    <p>Redirigiendo a la página de inicio</p>
</div>
<script>
    setTimeout(() => {
        window.location.href = '/'
    }, 5000)
</script>