<form id="register" class='login-register-form' action="/register" method="post">
    <h3>Registrar usuario</h3>
    <label for="text">Usuario</label>
    <input type="text" name="username">
    <label for="text">Contraseña</label>
    <input type="password" name="password">
    <button type="submit">Registrarme</button>
</form>